env=dev
###> symfony/framework-bundle ###
APP_SECRET=c0e9f028d9e6efb64219877fb3d52e7b
###< symfony/framework-bundle ###

DATABASE_URL=mysql://user:password@mysql:3306/questions


###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=38d6210113199d90a0f0098936a8b58647712e2912762033a933dbf30ecec091
###< lexik/jwt-authentication-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN="^https?://(localhost|127\.0\.0\.1|interview\.byst\.re)(:[0-9]+)?$"
###< nelmio/cors-bundle ###
