{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {% for recruiter in value %}
        <p><a href="{{ path('user_show', {'id': recruiter.getId()}) }}">{{ recruiter.getEmail() }}</a></p>
    {% endfor %}
{% endblock %}
